/**
 * @Project:     {{.ProjectName}}
 * @Date:        {{.Date}}
 */

package middlewarex

import (
	"time"

	"github.com/gofiber/fiber/v2"
	"{{.ModulePath}}/pkg/xlogx"
)

// RequestLogger 请求日志中间件
func RequestLogger(logger *xlogx.XLogSvc) fiber.Handler {
	return func(c *fiber.Ctx) error {
		start := time.Now()
		
		// 处理请求
		err := c.Next()
		
		// 记录请求信息
		latency := time.Since(start)
		status := c.Response().StatusCode()
		method := c.Method()
		path := c.Path()
		ip := c.IP()
		
		logger.Infof("[%d] %s %s %s %s", status, method, path, ip, latency)
		
		return err
	}
}
