/**
 * @Project:     {{.ProjectName}}
 * @Date:        {{.Date}}
 */

package cmd

import (
	"context"
	"fmt"
	"os"
	"os/signal"
	"sync"
	"syscall"
	"time"

	"github.com/gofiber/fiber/v2"
	"{{.ModulePath}}/config/vars"
)

func StartServer(injector *Injector, port string, quit chan struct{}) {
	f := fiber.New(fiber.Config{
		EnablePrintRoutes: true,
	})

	// 使用中间件
	injector.R.UseMiddlewares(f, injector)

	// 设置路由
	injector.R.SetupRoutes(f, injector)

	var wg sync.WaitGroup
	wg.Add(1)

	go func() {
		defer wg.Done()
		// 添加信号监听，支持优雅退出
		signalChan := make(chan os.Signal, 1)
		signal.Notify(signalChan, syscall.SIGINT, syscall.SIGTERM)
		// 等待停止信号
		<-signalChan

		// 关闭通道
		close(quit)

		ctx, cancel := context.WithTimeout(context.Background(), 5*time.Second)
		defer cancel()
		if err := f.ShutdownWithContext(ctx); err != nil {
			injector.L.Errorf("[Server] 关闭错误 [%v]", err)
		} else {
			injector.L.Info("[Server] 关闭成功")
		}
		time.Sleep(200 * time.Millisecond)
	}()

	// 启动服务
	injector.L.Info("[Server] 加载成功")

	// 监听端口，默认 > 配置文件 > 命令行
	defPort := vars.WebDefaultPort
	if port != vars.WebDefaultPort {
		defPort = port
	}

	if err := f.Listen(fmt.Sprintf(":%s", defPort)); err != nil {
		injector.L.Fatalf("[Server] 监听错误 [%v]", err)
	}

	wg.Wait()
	injector.L.Info("[Server] 退出成功")
}
